* {
    margin: 0;
    padding: 0;
}

#banner {
    background: url(images/backround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 100px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text {
    font-family: 'Righteous', cursive;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    color: #fff;
    padding: 120px;
}

.banner-text h1 {
    font-family: 'Righteous', cursive;
    font-size: 80px;

}

.banner-text p {
    font-family: 'Righteous', cursive;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.7s;

}

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.7s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover {
    color: #000;

}